html{
    width: 100%;
}

ul{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 20px;
    background: #52504f;
    height: 50px;
}

ul a{
    font-family: Verdana;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin: 10px;
    color: #FFF;
    width: 200px;
}

ul a:hover{
    border-bottom: 3px solid #ebe9e7;
    padding-bottom: 5px;
}

body{
    width: 100%;
    background: #ebe9e7;
    text-align: center;
}

h1{
    color: #52504f;
    font-family: Courier New, Courier, monospace;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #52504f;
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#wrapper{
    margin: 0 auto;
    display: block;
    width: 98%;
    background: purple;

}

#column1, #column2, #column3{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-left: 7px;
    background: red;

}

#catimage{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    border: 1px solid #52504f;

}

#catimage p, #catimage blockquote{
    font-family: Arial, Helvetica, sans-serif;

}

#catimage blockquote{
    text-align: left;
    margin: 5px;
    height: 100px;
    background: yellow;
}

#catimage p{
    text-align: right;
    height: auto;
    margin-right: 5px;
}

#catimage img{
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
}

footer{
    margin-top: 40px;
    display: block;
    margin: auto;

}

footer ul{
    width: 80%;
    text-align: left;
}